@media (max-width: 1262px) {

}

@media (max-width: 1025px) {
  .hero {
    flex-direction: column;
    gap: 50px;
  }
  
}
.recomendados {
  flex-direction: column;
  
  align-items: center;


}
.cajaCategorias {
  flex-wrap: wrap;
}


.footer-top {
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.footer-bot {
  flex-direction: column;
}